
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*-----------------------------------*\
  #CUSTOM STYLES
\*-----------------------------------*/
:root {
    /* Colours: */

    --Charcoal: rgba(63, 61, 61, 1);
    --White: rgba(255, 255, 255, 1);
    --Black: rgba(0, 0, 0, 1);
    --Slate-Gray: rgba(92, 92, 92, 1);
    --Desaturated-Teal: rgba(74, 139, 112, 1);
    --Light-Teal: rgba(231, 240, 236, 1);
    --Rust: rgba(215, 98, 57, 1);

    /* Font sizes: */
    --font-size-1: 0.3125rem;    /* 5px */
    --font-size-2: 0.5rem;       /* 8px */
    --font-size-3: 0.6056rem;   /* 9.69px */
    --font-size-4: 0.625rem;     /* 10px */
    --font-size-5: 0.75rem;      /* 12px */
    --font-size-6: 0.7569rem;    /* 12.11px */
    --font-size-7: 0.875rem;     /* 14px */
    --font-size-8: 1rem;         /* 16px */


    /* Font weight: */
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
}

h1 {
    font-size: var(--font-size-8);
    font-weight: var(--font-semi-bold);
}

h2 {
    font-size: var(--font-size-7);
    font-weight: var(--font-medium);
}

.container { display: grid; }

.skill-tag {
    background-color: var(--Light-Teal);
    color: var(--Black);
    font-size: var(--font-size-4);
    padding: 0.4rem 1rem;
}

.active-card {
    background-color: var(--Desaturated-Teal) !important;
    color: var(--Light-Teal)!important ;
}

/*-----------------------------------*\
  #RESET STYLES
\*-----------------------------------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 1.125rem 2.6875rem;
    font-size: var(--font-size-4);
    background-image: url(/assets/images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 317px; 
    margin: 2rem auto; 
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
    /*  */
}

section,
footer {
    background-color: var(--White);
    border-radius: 12px;
}

/*-----------------------------------*\
  #LAYOUT
\*-----------------------------------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    margin-bottom: 15px;
    height: 137px;
} 

header a {
    width: 147px;
    background-color: var(--White);
    border-radius: 12px;
    aspect-ratio: 1 / 1;
    height: 100%;
}

header a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
}

header section {
    width: 163px;
    height: 137px;
    padding: 19.5px 12px;
}

main { 
    clear: both; 
}

main > section { margin-bottom: 15px; }

.proficiency-section {
    float: left; 
    width: 100%; 
}

.skills-section {
    float: left;
    width: 100%; 
}

.projects-section {
    width: 100%;
    clear: both;
}

.education-section {
    float: left;
    width: 100%;
}

.tools-section {
    float: left;
    width: 100%;
}

.experience-section {
    clear: both;
    padding: 0 12px 11px;
}

/*-----------------------------------*\
  #PROFICIENCY SECTION
\*-----------------------------------*/

.proficiency-section {
    display: grid;
    gap: 16px;
    padding: 12px;
    font-weight: var(--font-medium);
}

.proficiency-section > p,
.proficieny-level > span {
    font-size: var(--font-size-4);
}

.proficiency-section > .container {
    display: grid;
    gap: 10px;
    width: 92.45%
}

.proficieny-level {
    display: grid;
    grid-template-columns: 20.7% 1fr;
    align-items: center;
    gap: 17px;
} 

.progress-track {
  width: 100%;
  height: 11px;
  /* background-color: #ccc;
  border-radius: 4px; */
  overflow: hidden;
    border-radius: 3px;
}

.progress-bar {
    background-color: var(--Desaturated-Teal);
    z-index: 5;
    position: relative;
    border-radius: 3px;
}

.proficieny-level:nth-child(1) .progress-bar {
    width: 41.19%;
    height: 100%;
}

.proficieny-level:nth-child(2) .progress-bar {
    width: 	30.19%;
    height: 100%;
}

.proficieny-level:nth-child(3) .progress-bar {
    width: 414.78%;
    height: 100%;
}

.proficieny-level:nth-child(4) .progress-bar {
    width: 14.78%;
    height: 100%;
}

/*-----------------------------------*\
  #SKILLS SECTION
\*-----------------------------------*/

.skills-section { padding: 12px; }

.skills-section ul {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 16px;
}

.skills-section ul > li { 
    border-radius: 40px; 
    list-style: none;
}

/*-----------------------------------*\
  #PROJECTS SECTION
\*-----------------------------------*/
.projects-section { 
    padding: 15px 15px 17px; 
    /* height: 632px; */
}

.projects-section > h2 { margin-bottom: 6.34px; }

.projects-section > .container {
    display: grid;
    grid-template-columns: repeat(2, 139px);
    /* grid-template-columns: repeat(auto-fit, minmax(139px, 1fr)); */
    gap: 12.73px;
    margin-bottom: 17px;
    justify-content: center;
}

.project-card {
    padding: 12px 9.69px;
    border-radius: 12.11px;
    /* margin-top: 6.34px; */
    background: var(--Light-Teal);
    color: var(--Black);
    /* height: 267px; */
    display: grid;
    gap: 9.69px;
}

.project-card .ri-heart-fill { display: none; }

.project-card .ri-heart-fill { color: var(--Rust); }

.projects-section .project-card > .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date { font-size: var(--font-size-6); }

.project-card .bold-text { font-weight: var(--font-bold); }


/*-----------------------------------*\
  #EDUCATION SECTION
\*-----------------------------------*/

.education-section { 
    padding: 12px; 
    padding: 12px;
    display: grid;
    gap: 10px;
}

.education-section .card {
    border-radius: 10px;
    padding: 8px;
    background: var(--Light-Teal);
}

.card.active-card > .card-info > .education-info > .date { display: none; }

.card > .card-info > .education-info > .date {
    display: inline-block;
    margin-bottom: 8px;
}

.card > ul li { list-style: circle; }

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
} 

.tag {
    background: var(--Rust);
    color: var(--Light-Teal);
    padding: 2px 6px;
    border-radius: 59px;
}

.card-info {
    display: flex;
    align-items: flex-start;
    gap: 9px;
}

.education-info,
.experience-info { width: 124px; }

.card-info ul { 
    width: 52.76%;
} 

/*-----------------------------------*\
  #TOOLS SECTION
\*-----------------------------------*/

.tools-section > h2 {
    text-align: center;
    margin: 13px 0 10px;
}

.tools-section .container {
    padding: 0 20px 18px;
    display: grid;
    grid-template-columns: repeat(3, 76px);
    gap: 26px;
    justify-content: center;
}

.card-container { position: relative; }

.card-container .card-banner {
    background-color: var(--Black);
    color: var(--Light-Teal);
    padding: 2px 6px;
    border-radius: 6px;
    position: relative;
    top: 5px;
}

.card-container.Design .card-banner { left: 27%; }

.card-container.Software .card-banner { left: 25%; }

.card-container.Languages .card-banner { left: 20%; }

.svg-container {
    display: grid;
    grid-template-columns: repeat(2, 13.45px);
    gap: 16px;
    background-color: var(--Light-Teal);
    padding: 0 13px;
    height: 100%;
    border-radius: 6px;
}

.svg-container.Design,
.svg-container.Software {
    grid-template-rows: repeat(2, 15.17px);
    padding: 40px 15px 27px;
}

.svg-container.Languages {
    /* grid-template-rows: repeat(3, 17px); */
    padding: 11.41px 13px;
}

.svg-container img {
    width: 13.45px;
    height: 15.17px
} 

/*-----------------------------------*\
  #EXPERIENCE SECTION
\*-----------------------------------*/

.experience-section > h2 { padding: 12px 0 6px; }

.experience-section .card {
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 19px;
    background-color: var(--Light-Teal);
}

.experience-section .card:last-child { margin-bottom: 0; }

.experience-section > .card > ul.list { margin-left: 1rem; }

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

footer {
    background: var(--Rust);
    border-radius: 12px;
    padding: 12px;
}

footer > h2 { color: var(--White); }

footer .social-links {
    display: flex;
    align-items: center;
    background: none;
    gap: 1rem;
}

footer a { 
    background: none; 
    color: var(--Light-Teal);
}

.divider {
    width: 1px;
    height: 5px;
    background-color: var(--Light-Teal);
}

